html {
    font-family: sans-serif; 
    background: white; 
    padding: 1rem;
}
body {
    padding: 0.5rem;
    margin: 0 auto;
    background: white;
}

nav {
    background: gray;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
}
nav a {
    flex: auto;
    font-size: medium;
    padding: 0.25rem 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

#timeline{
    background: lightgrey;
}

#timeline td, #timeline th {
    border: 1px solid grey;
    padding: 8px;
  }
#timeline tr{
    background: white;
}

#timeline th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: lightcyan;
  }