{% extends 'base.html' %}

{% block head %} 
 <title>{{user}}'s - Timeline</title>
{% endblock %}

{% block body %}

<div class="timeline">
    
    <h1>{{user}}'s Timeline</h1>
    
    {% if timeline%}
    {% for post in timeline %}
    <table id = "timeline">
        <tr>
            <th>User</th>
            <th>Status</th>
            <th>Posted</th>
        </tr>
        <tr>
            <td>{{post.username}}:</td>
            <td>{{post.status}}</td>
            <td>{{post.time}}</td>
        </tr>
    </table>
    <br>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}