{% extends 'base.html' %}

{% block head %} 
 <title>UserX - Timeline</title>
{% endblock %}

{% block body %}

<div class="timeline">
    
    <h1>X's Timeline</h1>

    <table>
        {% for username in result.items() %}
        <tr>
            <th>User</th>
            <th>Post</th>
            <th>Date posted</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{username}}</td>
            <td>17/03/1999</td>
        </tr>
        {% endfor %}
    </table>
    
</div>

{% endblock %}