{% extends 'base.html' %}

{% block head %} 
 <title>UserX - Timeline</title>
{% endblock %}

{% block body %}

<div class="timeline">
    
    <h1>X's Timeline</h1>
    {% if result.items()%}
    <table>
        {% for item in result.items() %}
        <tr>
            <th>User</th>
            <th>Post</th>
            <th>Date posted</th>
        </tr>
        <tr>
            <td>{{item['Franc']}}</td>
            <td>{{item['Franc']['status']}}</td>
            <td>17/03/1999</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}